[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.14.0"
mysqlclient = "==2.1.1"
djangorestframework-simplejwt = "==5.2.2"
django-filter = "==22.1"
django = "==4.1.7"
asgiref = "==3.6.0"
pyjwt = "==2.6.0"
pytz = "==2022.7.1"
sqlparse = "==0.4.3"
tzdata = "==2022.7"
pillow = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
