async-timeout==4.0.2
celery==5.2.7
cron-descriptor==1.2.35
Django==4.2
django-celery-beat==2.5.0
django-cron==0.6.0
django-filter==23.1
django-timezone-field==5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.5
filelock==3.9.0
gunicorn==20.1.0
mysqlclient==2.1.1
Pillow==9.4.0
pipenv==2022.12.19
prompt-toolkit==3.0.38
PyJWT==2.6.0
python-crontab==2.7.1
python-dateutil==2.8.2
pytz==2023.3
redis==4.5.4
sqlparse==0.4.4
stripe==5.4.0
tzdata==2023.3
