body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-layout-div, .user-layout-div {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.auth-greeting {
    margin-bottom: 20vh;
}

.auth-buttons-div {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.auth-buttons {
    color: #333333;
    border: 1px solid #333333;
    width: 25%;
    font-size: 3vh;
}

.auth-buttons:hover {
    background: #333333;
    color: white;
}

.register-form {
    text-align: center;
    margin-bottom: 5%;
}

.register-form input {
    text-align: center;
    border: 1px solid black;
    color: #333333;
    width: 75%;
    height: 10%;
    margin-bottom: 1%;
    font-size: 2.5vh;
    border-radius: 15px;
}

.register-form-button {
    color: #333333;
    border: 1px solid #333333;
    border-radius: 25px;
    width: 25%;
    font-size: 2.5vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

.swapLinks-div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.swapLinks-div a {
    font-size: 2vh;
}

.register-form-button:hover {
    background: black;
    color: white;
}

.register-error-div > div {
    text-align: center;
    margin-bottom: 1%;
    color: red;
}

a {
    text-decoration: none;
}

.login-form {
    text-align: center;
    margin-bottom: 5%;
}

.login-form-button {
    color: #333333;
    border: 1px solid #333333;
    border-radius: 25px;
    width: 25%;
    font-size: 2.5vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-button:hover {
    color: white;
    background: #333333;
}

.login-form input {
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    width: 75%;
    height: 10%;
    margin-bottom: 1%;
    font-size: 2.5vh;
}

.activate-request-link {
    color: red;
    font-size: 2.5vh;
}

.login-error-div {
    margin: 3%;
    font-weight: bold;
}

.rm {
    color: red;
}

.header {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    width: 75vw;
    height: 5vh;
    border-radius: 25px;
    align-items: center;
}

.header a {
    font-size: 2vh;
    cursor: pointer;
}

.header-div {
    margin: 3vh 1vh 5vh 1vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.office-button-div {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
}

.office-buttons {
    color: black;
    border: 1px solid black;
    font-size: 2.5vh;
    border-radius: 10px;
    cursor: pointer;
}

.office-buttons:hover {
    background: black;
    color: white;
}

.pagination-buttons-div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.order-select {
    text-align: center;
    color: black;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 10px;
}

.order-select option {
    text-align: center;
}

.order-select option:hover {
    color: white;
    background: black;
}

.searcher-div {
    width: 100vw;
    text-align: center;
    margin-bottom: 5vw;
}

.searcher {
    border-radius: 15px;
    text-align: center;
    width: 50vw;
    height: 3vw;
    color: black;
}

.user-order {
    border: 1px solid black;
    width: 35vw;
    border-radius: 10px;
    margin-bottom: 1.5vw;
    height: 15vw;
    font-size: 2.5vw;
    align-items: center;
}

.user-orders-div {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
}

.order-details-buttons {
    border-radius: 15px;
    border: 1px solid black;
    font-size: 2.5vw;
}

