body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-layout-div {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.auth-greeting {
    margin-bottom: 20vh;
}

.auth-buttons-div {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.auth-buttons {
    color: #333333;
    border: 1px solid #333333;
    width: 25%;
    font-size: 3vh;
}

.auth-buttons:hover {
    background: #333333;
    color: white;
}

.register-form {
    text-align: center;
    margin-bottom: 5%;
}

.register-form input {
    text-align: center;
    border: 1px solid black;
    color: #333333;
    width: 75%;
    height: 10%;
    margin-bottom: 1%;
    font-size: 2.5vh;
    border-radius: 15px;
}

.register-form-button {
    color: #333333;
    border: 1px solid #333333;
    border-radius: 25px;
    width: 25%;
    font-size: 2.5vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

.swapLinks-div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.swapLinks-div a {
    font-size: 2vh;
}

.register-form-button:hover {
    background: black;
    color: white;
}

.register-error-div > div {
    text-align: center;
    margin-bottom: 1%;
    color: red;
}

a {
    text-decoration: none;
}

.login-form {
    text-align: center;
    margin-bottom: 5%;
}

.login-form-button {
    color: #333333;
    border: 1px solid #333333;
    border-radius: 25px;
    width: 25%;
    font-size: 2.5vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-button:hover {
    color: white;
    background: #333333;
}

.login-form input {
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    width: 75%;
    height: 10%;
    margin-bottom: 1%;
    font-size: 2.5vh;
}

.activate-request-link {
    color: red;
    font-size: 2.5vh;
}

.login-error-div {
    margin: 3%;
    font-weight: bold;
}

.rm {
    color: red;
}
